body {
  background-color: rgb(255, 183, 147);
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 5em;
}
.different-color {
  color: rgb(252, 39, 1);
}
.different-color:hover {
  color: rgb(252, 1, 1);
}
p {
  font-size: 1.5em;
  padding-bottom: 20px;
}
a {
  color: darkred;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  padding: 20px;
  background: rgb(226, 118, 64);
}
a:hover {
  background: rgba(226, 118, 64, 0.8);
  padding-right: 25px;
  padding-left: 25px;
  font-weight: bolder;
}
.banner {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 50px;
  padding-bottom: 20px;
  margin-bottom: 130px;
}
.banner-text-container {
  width: 45%;
}
.banner-image-container {
  width: 45%;
}
.banner-image {
  width: 100%;
  border-radius: 50%;
}

.about {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 50px;
  padding-bottom: 20px;
  margin-bottom: 130px;
}
.about-image-container {
  width: 45%;
}
.about-image {
  width: 100%;
  border-radius: 40px 50% 50% 40px;
}
.about-text-container {
  width: 45%;
}
.waffle {
  background: rgb(255, 221, 147);
  padding: 50px;
  border-radius: 15px;
  width: 60%;
  margin: auto;
  margin-bottom: 100px;
}
.waffle-head,
.waffle-para {
  width: 100%;
  text-align: center;
}
.menu-text {
  text-align: center;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 95%;
  margin: auto;
  margin-bottom: 100px;
}
.menu img {
  width: 100%;
  border-radius: 10px;
}
.coffee,
.dessert,
.fast-food {
  width: 25%;
  padding: 10px;
  background-color: rgb(184, 98, 98);
  border-radius: 10px;
  box-shadow: 3px 3px 5px 6px rgb(252, 167, 124);
}
.coffee:hover {
  background-color: rgb(216, 85, 85);
}
.dessert:hover {
  background-color: rgb(216, 148, 85);
}
.fast-food:hover {
  background-color: rgb(216, 214, 85);
}
figcaption {
  font-weight: bold;
  text-align: center;
}
figcaption {
  font-weight: bolder;
}
li {
  padding: 5px;
  background-color: rgb(216, 216, 144);
  border-radius: 5px;
  margin-bottom: 3px;
  color: rgb(59, 0, 0);
}
li:hover {
  background-color: chocolate;
}
.review-head {
  text-align: center;
}
.review {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  margin-bottom: 50px;
}
.review-unit {
  width: 40%;
  background-color: rgb(255, 221, 147);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 6px rgb(252, 167, 124);
}
.username {
  text-align: center;
}
.review-unit:hover {
  background-color: rgb(248, 205, 113);
  padding: 25px;
}

.comment-section {
  display: flex;
  flex-direction: column;

  width: 40%;
  margin: auto;
}
label {
  padding: 5px 0px 5px 0px;
}
.name-field {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}
.comment-field {
  width: 100%;
  height: 100px;
  padding: 10px;
  border-radius: 5px;
}
.submit {
  background-color: coral;
  margin-top: 5px;
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}
.submit:hover {
  background-color: chocolate;
}
footer {
  position: relative;
  text-align: center;
  background-color: rgb(95, 8, 8);
  padding-top: 10px;
  padding-bottom: 125px;
}
h2 {
  font-size: 3em;
  color: rgb(209, 154, 16);
}
h2:hover {
  color: rgb(255, 184, 6);
}
h3 {
  font-size: 2em;
  color: rgba(165, 42, 42, 0.8);
}
h3:hover {
  color: rgb(165, 42, 42);
}

.footer-para {
  color: antiquewhite;
}
