body {
  background-color: rgb(255, 183, 147);
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 5em;
}
.different-color {
  color: rgb(252, 39, 1);
}
.different-color:hover {
  color: rgb(252, 1, 1);
}
p {
  font-size: 1.5em;
  padding-bottom: 20px;
}
a {
  color: darkred;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  padding: 20px;
  background: rgb(226, 118, 64);
}
a:hover {
  background: rgba(226, 118, 64, 0.8);
  padding-right: 25px;
  padding-left: 25px;
  font-weight: bolder;
}
.banner {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 50px;
  padding-bottom: 20px;
  margin-bottom: 130px;
}
.banner-text-container {
  width: 45%;
}
.banner-image-container {
  width: 45%;
}
.banner-image {
  width: 100%;
  border-radius: 50%;
}

.about {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 50px;
  padding-bottom: 20px;
  margin-bottom: 130px;
}
.about-image-container {
  width: 45%;
}
.about-image {
  width: 100%;
  border-radius: 40px 50% 50% 40px;
}
.about-text-container {
  width: 45%;
}
.waffle {
  background: rgb(255, 221, 147);
  padding: 50px;
  border-radius: 15px;
  width: 60%;
  margin: auto;
  margin-bottom: 100px;
}
.waffle-head,
.waffle-para {
  width: 100%;
  text-align: center;
}
.menu-text {
  text-align: center;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 95%;
  margin: auto;
  margin-bottom: 100px;
}
.menu img {
  width: 100%;
}
.coffee,
.dessert,
.fast-food {
  width: 25%;
  padding: 10px;
  background-color: rgb(184, 98, 98);
  border-radius: 5px;
}
figcaption {
  font-weight: bold;
  text-align: center;
}
li {
  padding: 5px;
  background-color: rgb(216, 216, 144);
  border-radius: 5px;
  margin-bottom: 3px;
  color: rgb(59, 0, 0);
}
li:hover {
  background-color: chocolate;
}
footer {
  position: relative;
  text-align: center;
  background-color: rgb(95, 8, 8);
  padding-top: 10px;
  padding-bottom: 125px;
}
.footer-head {
  font-size: 2em;
  color: rgb(209, 154, 16);
}
.footer-para {
  color: antiquewhite;
}
